#fathermenu 
{
   margin-left : 85px;
}


#fathermenu  li
{
      background-color : #A8BF75;
      list-style : none inside;
      float : left;
      height : 25px;
      line-height : 25px;
      border-right : 1px solid #eee;
      position : relative;
}


#fathermenu li a
{
     color : white;
     display : block;
     padding : 0 20px;
     text-decoration : none;
}



#fathermenu ul
{
   display : none;
   position : absolute;
   top : 25px;
}

#fathermenu li li
{
       border-top : 1px solid #eee;
       width : 150px;
       right : 25px;
}


#fathermenu li:hover
{
      background-color : green;
}

#fathermenu li:hover ul
{
       display : block;
}

#fathermenu li:hover ul ul,
#fathermenu li:hover ul ul ul
{
       display : none;
}

#fathermenu li li:hover ul
{
       display : block;
}

#fathermenu ul ul
{
     top : -1px;
     left : 151px;
}

#fathermenu li li:hover ul ul
{
       display : none;
}

#fathermenu li li li:hover ul
{
       display : block;
}

#fathermenu ul ul ul
{
     top : -1px;
     left : 151px;
}

div.imgguitarlassic
{
       width : 792px;
       position: relative; 
       margin:auto;
}

#introduction
{
     background-color : #A8BF75;
     height : 190px;
}

#bigform
{
     border:1px solid Black;
     height : 290px;
}

#writecomment
{
     border:1px solid Blue;
      height : 290px;
      width : 480px;
      float:left;
}

#viewcomment
{    
      border:1px solid Yellow;
      float:left;
      width : 453px;
      height : 290px;
}

#tieude
{
       border:1px solid green;
       width : 453px;
       height : 37px;
}

#viewcommentlist
{
       border:1px solid Red;
       width : 453px;
       height : 250px;
       background-color: black;
}

#end
{
     clear : both;
}

div.nav-collapse
{
    margin-top : 32px;
    margin-left: 210px;
}


#login
{
       border:1px solid Red;
       width : 400px
       height : 800px;
       float:right;
}

#search1
{
     margin-left: 430px;
}

#search2
{
     margin-left: 249px;
}


#search2 ul li
{
	   display : block;
       list-style : none inside;
	   float:left;
       padding : 0 10px;
       text-decoration : none;
}

#search2 ul li a
{
       color : #A8BF75;
}

#previous a
{
     border-bottom: 2px solid #A8BF75;
}

#next a
{
     border-bottom: 2px solid #A8BF75;
}

#tuongtrung a
{
	  border-bottom: 2px solid #A8BF75;
}

#aaa
{
    color : red;
}




